<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>911553301255-o1ma45peu59inkafer193raf6c3g7o1k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.911553301255-o1ma45peu59inkafer193raf6c3g7o1k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>911553301255-od3fujo19t61p96vqo2fbn5iab0a72pt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD9xjWFJo3w8kr2k717pYGPpPTaNWjun1E</string>
	<key>GCM_SENDER_ID</key>
	<string>911553301255</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.taxiassist</string>
	<key>PROJECT_ID</key>
	<string>paris-taxi-app</string>
	<key>STORAGE_BUCKET</key>
	<string>paris-taxi-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:911553301255:ios:3242d4636efac6bc3c93a2</string>
</dict>
</plist>